---
Checks: >
  -*,
  bugprone-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -modernize-return-braced-init-list,
  -performance-move-const-arg,
  -readability-magic-numbers,
  -readability-redundant-declaration,

WarningsAsErrors: '*'
HeaderFilterRegex: ''
